/* ---

This scss file is for global declaration values like colors, sizes and etc.

----*/


// fonts
$primary-font: 'Open Sans', sans-serif;

// colors
$black: #2b2b2b;
$grey: #cacaca;

//media queries
$desktop: 1024px;
